.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height:100vh;
  padding: 25;
}
.inputContainer{
  height:10%;
  width:30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inputContainer>input{
  margin-right: 20px;
  height: 40%;
  width: 80%;
  border-radius: 8px;
  border: none;
background-color: rgb(226, 227, 228);
  font-size: 16px;
}

.inputContainer>button{
  height: 40%;
  width:10%;
  border-radius: 10px;
  border: None;
  font-size: 16px;
  
}

.inputContainer>button:hover{
  -webkit-box-shadow: 0 0 15px -3.5px #dddddd;
  -moz-box-shadow: 0 0 15px -3.5px #dddddd;
  box-shadow: 0 0 15px -3.5px #dddddd;
  background-color: dimgray;
  color: #fff;
}

.taskContainer{
  height:auto;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.taskItem{
  background-color: rgb(97, 97, 205);
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 3px;
  color: white;
  margin:10px;
}

.taskItem>button{
  height:40px;
  width:auto;
  background-color: rgb(222, 26, 26);
  border:none;
  border-radius: 2px;
  color: white;
}
